<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport">
  <title>
    Switr - Simpler than Twitter
  </title>
  <link href="https://fonts.googleapis.com/css?family=David+Libre|Questrial" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet">

</head>
</html>
<body ng-app="switrApp">
  <div class="container">
    <div class="page-header">
      <div class="jumbotron">
        <h1 class="main-title">
          switr
        </h1>
        <p>
          Simpler than Twitter
        </p>
        <p>
          This product is created for demo purpose to any tech community in Jakarta, or any other cities.
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="https://github.com/sigit-prayoga/switr-web.git" role="button">
            Learn me on Github
          </a>
        </p>
      </div>
    </div>
    <!-- you can use controller as, so no need to inject $scope all the time -->
    <div class="" ng-controller="FormController">
      <form>
        <textarea class="form-control" maxlength="100" ng-model="swit" ng-trim="false" placeholder="What's on your mind" required="" rows="2">
        </textarea>
        <br>
        <label>
          {{100 - swit.length}} chars left
        </label>
        <br>
        With Socket? Open another browser window, and see the magic!
        <input name="usingSocket" ng-model="usingSocket" type="checkbox">
        <br>
        With React? <input type="checkbox" name="usingReact" ng-model="isReact">
        <br>
        <br>
        <button class="btn btn-primary btn-lg btn-block" ng-click="doSwit(usingSocket)" ng-disabled="!swit" type="button">
          Say it!
        </button>
        <br>
      </form>

      <div ng-show="alertMessage" class="alert alert-success" role="alert">{{alertMessage}}</div>

      <!-- next thing to do remove the UL below into another controller, so we can demo the communication between controller using factory -->
      <div class=".col-md-6" ng-show="!isReact">
        <input class="form-control" ng-model="searchSwit" placeholder="looking for something?" rows="2" type="text">
        <br>
        <ul class="list-group" ng-repeat="current in swits | filter: searchSwit | orderBy: '-time'">
          <each-swit swit="current">
          </each-swit>
        </ul>
      </div>

      <!-- Demo with ReactJS -->
      <with-react ng-show="isReact" swits="swits"></with-react>
      <label>React: {{isReact}}</label>
    </div>
  </div>

  <!-- For better performance when load page -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" type="text/javascript"></script>
  <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
  <script src="bower_components/moment/moment.js" type="text/javascript"></script>
  <script src="bower_components/react/react.js" type="text/javascript"></script>
  <script src="bower_components/react/react-dom.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/form.controller.js" type="text/javascript"></script>
  <script src="js/api.service.js" type="text/javascript"></script>
  <script src="js/eachSwitDirective/eachSwit.directive.js" type="text/javascript"></script>
  <script src="js/withReact/withReact.directive.js" type="text/javascript"></script>
</body>